<h1>Listing registers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Rg</th>
  </tr>

<% @registers.each do |register| %>
  <tr>
    <td><%=h register.name %></td>
    <td><%=h register.address %></td>
    <td><%=h register.email %></td>
    <td><%=h register.rg %></td>
    <td><%= link_to 'Show', register %></td>
    <td><%= link_to 'Edit', edit_register_path(register) %></td>
    <td><%= link_to 'Destroy', register, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New register', new_register_path %>