<h2 class="style_titles">Lista de Associados Acisai</h2><br />
<div id="pnlAssociados">
	<table border="0" class="tabela_associados">
		<tr>
			<td><%= image_tag("agropibi.jpg") %></td>
			<td><%= image_tag("araucaria.jpg") %></td>
			<td><%= link_to image_tag("bb.jpg", :border => 0), "http://www.bb.com.br", :target => "_blank" %></td>
		</tr>
		<tr>
			<td><%= image_tag("benhur.jpg") %></td>
			<td><%= image_tag("biofarm.jpg") %></td>
			<td><%= image_tag("bioline.jpg") %></td>
		</tr>
		<tr>
			<td><%= link_to image_tag("cavalli.jpg", :border => 0), "http://www.cavalliautosom.com.br", :target => "_blank" %></td>
			<td><%= image_tag("cc.jpg") %></td>
			<td><%= image_tag("coofiume.jpg") %></td>
		</tr>
		<tr>
			<td><%= link_to image_tag("debas.jpg", :border => 0), "http://www.debas.com.br", :target => "_blank" %></td>
			<td><%= image_tag("dibepal.jpg") %></td>
			<td><%= image_tag("diego.jpg") %></td>
		</tr>
		<tr>
			<td><%= image_tag("d_rossi.jpg") %></td>
			<td><%= image_tag("farmed.jpg") %></td>
			<td><%= image_tag("f_bizotto.jpg") %></td>
		</tr>
		<tr>
			<td><%= image_tag("gs_moveis.jpg") %></td>
			<td><%= link_to image_tag("imagem.jpg", :border => 0), "http://www.imagemsinalizacao.com", :target => "_blank" %></td>
			<td><%= image_tag("jdm.jpg") %></td>
		</tr>
		<tr>
			<td><%= image_tag("jg_junior.jpg") %></td>
			<td><%= image_tag("lima.jpg") %></td>
			<td><%= image_tag("milenio.jpg") %></td>
		</tr>
		<tr>
			<td><%= image_tag("ms_confeccoes.jpg") %></td>
			<td><%= image_tag("negretti.jpg") %></td>
			<td><%= image_tag("oliboni.jpg") %></td>
		</tr>
		<tr>
			<td><%= image_tag("panisson.jpg") %></td>
			<td><%= image_tag("angela_psicologia.jpg") %></td>
			<td><%= image_tag("paulo_motos.jpg") %></td>
		</tr>
		<tr>
			<td><%= image_tag("pellin_hubler.jpg") %></td>
			<td><%= image_tag("pellin_materiais.jpg") %></td>
			<td><%= image_tag("perondi.jpg") %></td>
		</tr>
		<tr>
			<td><%= link_to image_tag("pietrobon.jpg", :border => 0), "http://www.pietrobon.com.br/", :target => "_blank" %></td>
			<td><%= image_tag("planalto.jpg") %></td>
			<td><%= image_tag("posto_penta.jpg") %></td>
		</tr>
		<tr>
			<td><%= image_tag("pro_campo.jpg") %></td>
			<td><%= image_tag("rossi.jpg") %></td>
			<td><%= image_tag("santini.jpg") %></td>
		</tr>
		<tr>
			<td><%= link_to image_tag("saude_center.jpg", :border => 0), "http://www.saudecenterclinica.com.br/", :target => "_blank" %></td>
			<td><%= image_tag("sebben.jpg") %></td>
			<td><%= image_tag("sementes.jpg") %></td>
		</tr>
		<tr>
			<td><%= link_to image_tag("sicredi.jpg", :border => 0), "http://www.sicredi.com.br/", :target => "_blank" %></td>
			<td><%= image_tag("sol.jpg") %></td>
			<td><%= image_tag("sol_modas.jpg") %></td>
		</tr>
		<tr>
			<td><%= image_tag("sorvtche.jpg") %></td>
			<td><%= image_tag("tio_ze.jpg") %></td>
			<td><%= image_tag("uniao.jpg") %></td>
		</tr>
		<tr>
			<td><%= image_tag("zanini.jpg") %></td>
			<td><%= image_tag("zappa.jpg") %></td>
			<td><%= image_tag("bruna_fisioterapia.jpg") %></td>
		</tr>
		<tr>
			<td><%= image_tag("fisiolife.jpg") %></td>
			<td><%= image_tag("giseli_fisioterapia.jpg") %></td>
			<td><%= image_tag("manuela_dentista.jpg") %></td>
		</tr>
		<tr>
			<td><%= image_tag("matalurgica_fiume.jpg") %></td>
			<td><%= image_tag("scar.jpg") %></td>
			<td><%= image_tag("walter_roman.jpg") %></td>
		</tr>
	</table>
</div>

<div id="linkVoltar">
<%= link_to "Voltar", {:action => "index"}, :class => "back" %>
</div>
