<div id="testess">

	<p class="margem">
		<%= image_tag("diamante.jpg") %>
		<%= link_to image_tag("assem.jpg", :border => 0), "http://www.al.rs.gov.br/" %>
		<%= link_to image_tag("pano.jpg", :border => 0), "http://www.panosul.com.br" %>
		<%= image_tag("coo.jpg") %>
	</p><br /><br />

	<p class="margem">
		<%= image_tag("ouro.jpg") %>
		<%= link_to image_tag("sicredi_2.jpg", :border => 0), "http://www.sicredi.com" %>
		<%= link_to image_tag("bianchini_2.jpg", :border => 0), "http://www.bianchiniempreendimentos.com.br/" %>
		<%= image_tag("oliboni_2.jpg") %>
	</p><br /><br />

	<p class="margem">
		<%= image_tag("prata.jpg") %>
		<%= image_tag("novo_milenio.jpg") %>
		<%= link_to image_tag("schenatto_2.jpg", :border => 0), "http://www.ceramicaschenatto.com.br" %>
		<%= image_tag("posto_diego.jpg") %>
		<%= image_tag("posto_do_penta.jpg") %>
	</p><br /><br />
	
	<p class="margem">
		<%= image_tag("bronze.jpg") %>
		<%= image_tag("agropibi_2.jpg") %>
		<%= link_to image_tag("aral.jpg", :border => 0), "http://www.aralimplementos.com.br" %>
		<%= link_to image_tag("bb_2.jpg", :border => 0), "http://www.bb.com.br" %>
		<%= link_to image_tag("imagem_2.jpg", :border => 0), "http://www.imagemsinalizacao.com" %>
		<%= image_tag("scar_2.jpg") %>
		<%= image_tag("santini_2.jpg") %>
		<%= link_to image_tag("vicato_2.jpg", :border => 0), "www.aralimplementos.com.br" %>
		<%= image_tag("sim_2.jpg") %>
		<%= image_tag("sebben_2.jpg") %>
	</p><br /><br />

</div>
