<ul class="menu_sobre">
  <li><%= link_to "Visão", :action => "visao" %></li>
  <li><%= link_to "Histórico", :action => "historico" %></li>
  <li><%= link_to "Participação", :action => "participacao" %></li>
  <li><%= link_to "Representatividade", :action => "representatividade" %></li>
  <li><%= link_to "Estatuto", "/documents/estatuto.pdf" %></li>
</ul><br />
<%= title "Sobre Nós" %>
<div id="pnlSobre">
  <h2 class="style_titles">Sobre Nós</h2><br />

  <%= image_tag("representatividade.jpg", :align => "left", :class => "img_sobre_border") %>
  <p class="text_sobre">
		A Associação Comercial, Industrial, de Serviços e Agropecuária de Ibiaçá, é uma entidade de livre associação e sem fins lucrativos que tem como objetivo, mostrar o potencial empreendedor e a vocação na diversidade de segmentos em que atuam os empresários ibiaçaenses. A atuação institucional da ACISAI tem  priorizado a defesa da livre iniciativa, do desenvolvimento econômico e social do município e da região, buscando proporcionar as empresas melhores condições  para que ampliem a produção. A ACISAI participa de várias representações técnicas e institucionais. A entidade busca ainda junto aos poderes Executivo, Legislativo e Judiciário parcerias e melhorias capazes de proporcionar ao mercado e a região um desenvolvimento sustentável a fim de contribuir para o progresso da comunidade municipal e regional, proporcionando a oportunidade de desenvolver a responsabilidade social, o espírito empresarial e o companheirismo, necessários para criar mudanças positivas.
		A sede da ACISAI encontra-se na Rua do Comércio, nº 14, sala 03, na cidade de Ibiaçá-RS.
    <br /><br />

  <h3>Atividades Desenvolvidas</h3>
  <p> Reuniões de diretoria: Mensais, para tratar de assuntos de interesse da classe empresarial. Participam das mesmas a diretoria executiva, os diretores das áreas (comércio, serviços, indústria e agropecuária), representantes das demais entidades empresariais do município e sempre que desejarem associados da entidade.
      
  </p><br><br>

  <h3>Ações em prol do empreendedorismo</h3>
  <p>A ACISAI está sempre atenta a  assuntos do interesse dos associados. Reivindicando e cobrando medidas junto a organismos e poderes constituídos.</p><br><br>


<h3>Gestão Atual</h3>
<ul>
  <li>Presidente: Daniel Fich de Almeida.</li>
  <li>Vice - presidente: Marco A. Zanini.</li>
  <li>Conselho da Indústria e Comércio: Rodrigo Giacomin.</li>
  <li>Prestação de Serviços: Fabiana Bizotto.</li>
  <li>Conselho de agropecuária: Adroaldo Oliboni.</li>
  <li>Conselho de Finanças e Patrimônio: Adriana Biondo e Tiago G. Bueno.</li>
  <li>Conselho Social: Roberto Nazaré Cavalli.</li>
  <li>Conselho da Secretaria: Daiane Três.</li>
  <li>Conselho Fiscal Titular: </li>
  <li>Conselho Fiscal Suplentes:</li>
</ul>
<br />

<h3>Ex Presidentes</h3>
<ul>
  <li>Gilmar Zanella – 2006/2007.</li>
  <li>Marco Antonio Zanini - 2008.</li>
 </ul>
<br><br>
</div>
<div id="linkVoltar">
  <%= link_voltar("Voltar") %>
</div>