<h1>New foto</h1>

<% form_for :foto, @foto, :url => fotos_path, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>
  
  <p>
  	<%= f.file_field :imagem %><br />
  </p>
  
  
  <p>
  	<b><%= label_tag("Categoria") %></b>
		<%= f.collection_select :categoria_id,  Categoria.all(:order => 'nome'), :id, :nome %>  
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', fotos_path %>
